{% extends 'base.html' %}
{% block content %}
    <div class="product-section section pt-120 pb-120">
        <div class="container">
            {% for eleven in object_list %}
            <!-- Product Wrapper Start-->
            <div class="row">
                
                <!-- Product Start-->
                <div class="col-lg-4 col-md-6 col-12 mb-60">
                   
                    <div class="product">

                        <!-- Image Wrapper -->
                        <div class="image">
                            <!-- Image -->
                            <a href="{% url 'detail' eleven.pk%}" class="img"><img src="{{ eleven.photo.url }}" alt="Product"></a>
                            <!-- Wishlist -->
                            <a href="{% url 'detail' eleven.pk %}" class="wishlist"><i class="fa fa-heart-o"></i></a>
                            <!-- Label -->
                            <span class="label">Yangi</span>
                        </div>
                        
                        <!-- Content -->
                        <div class="content">
                            
                            <!-- Head Content -->
                            <div class="head fix">
                               
                                <!-- Title & Category -->
                                <div class="title-category float-left">
                                    <h5 class="title"><a href="{% url 'detail' eleven.pk%}">{{ eleven.name}}</a></h5>
                                    <a href="s{% url 'shop' %}" class="category">Suv</a>
                                </div>
                                <!-- Price -->
                                <div class="price float-right">
                                    <span class="new">{{ eleven.price}}</span>
                                    <!-- Old Price Mockup If Need -->
                                    <!-- <span class="old">$46</span> -->
                                </div>
                                
                            </div>
                            
                            <!-- Action Button -->
                            <div class="action-button fix">
                                <a href="https://t.me/+UCqrdH0OGmBlNTUy">Harid qilish</a>
                            </div>
                            
                        </div>

                    </div>
                    
                </div><!-- Product End-->
            </div>
        </div>
    </div>

{% endfor %}
{% endblock content %}
                

